name: Resume Analysis
on:
  workflow_dispatch:
    inputs:
      ORG:
        description: "GitHub owner and repository name (e.g., 'username/repository')"
        required: true
        type: string
      BRANCH:
        description: "Name of the branch from the calling repository"
        required: true
        type: string
      PR_NUMBER:
        description: "The number that identifies the pull request"
        required: true
        type: number
      GH_TOKEN:
        description: "The token that identifies the actor who triggered the workflow"
        required: true
        type: string
  workflow_call:
    inputs:
      ORG:
        description: "GitHub owner and repository name (e.g., 'username/repository')"
        required: true
        type: string
      BRANCH:
        description: "Name of the branch from the calling repository"
        required: true
        type: string
      PR_NUMBER:
        description: "The number that identifies the pull request"
        required: true
        type: number
      GH_TOKEN:
        description: "The token that identifies the actor who triggered the workflow"
        required: true
        type: string

jobs:
  analysis:
    runs-on: ubuntu-latest
    steps:
      - name: Get Secrets if Needed
        id: get_secrets
        run: echo secretes

      - name: Checkout
        id: checkout
        uses: actions/checkout@v4
        with:
          # In the context of "hello/world"
          # ##*/ matches everything up to and including the last / character.
          # Therefore, ${path##*/} returns "world" because it removes "hello/" from the beginning of "hello/world".
          repository: "${{ inputs.ORG }}##*/"
          ref: ${{ inputs.BRANCH }}

      - run: echo "${{ inputs.ORG }}##*/"

      - name: Get Diff
        id: diff
        uses: alcash55/ac-composite-actions/diff@main
        with:
          GITHUB_ORG: ${{ inputs.ORG }}
          PR_NUMBER: ${{ inputs.PR_NUMBER }}
          GH_TOKEN: ${{ inputs.GH_TOKEN }}

      - name: Markdown Checks
        id: md_checks
        uses: alcash55/ac-composite-actions/markdown-checks@main

      - name: Create Message
        id: create_msg
        uses: alcash55/ac-composite-actions/format-message@main

      - name: Notifications
        id: notify
        uses: alcash55/ac-composite-actions/notifications@main
        with:
          GITHUB_ORG: ${{ inputs.ORG }}
          PR_NUMBER: ${{ inputs.PR_NUMBER }}
          GH_TOKEN: ${{ inputs.GH_TOKEN }}
          MESSAGE_TYPE: "github"
